header {
  position: top;
  background-color: lightblue;
  text-align: center;
  width: 100%;
  height: 100px;
  margin: auto;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: lightyellow;
}
div {
  text-align: center;
  width: 75%;
  margin: auto;
}
#about {
  background-color: rgba(255, 180, 160, 0.5);
}
p {
  font-size: 20px;
  text-align: left;
}
#right {
  background-color: rgba(201, 193, 86, 0.7);
}
#lang {
  background-color: rgba(74, 152, 103, 0.7);
}
#proj {
  background-color: rgba(252, 81, 81, 0.7);
}
#work {
  background-color: rgba(107, 161, 242, 0.7);
}
#blog {
  background-color: rgba(98, 237, 85, 0.7);
}
#contact {
  background-color: rgba(255, 180, 160, 0.7);
}

body {
  background-image: url("https://cdn.shopify.com/s/files/1/0444/5025/products/Abstract-Fluid-Background-Texture_00087.jpg?v=1514054710");
  background-size: cover;
  background-repeat: no-repeat;
}
